@model eggs2throw.Models.movieProfile

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>movieProfile</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.movieId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.movieId)
            @Html.ValidationMessageFor(model => model.movieId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.picture)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.picture)
            @Html.ValidationMessageFor(model => model.picture)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.category)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.category)
            @Html.ValidationMessageFor(model => model.category)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.upVote)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.upVote)
            @Html.ValidationMessageFor(model => model.upVote)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.downVote)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.downVote)
            @Html.ValidationMessageFor(model => model.downVote)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.movieLang)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.movieLang)
            @Html.ValidationMessageFor(model => model.movieLang)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.review)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.review)
            @Html.ValidationMessageFor(model => model.review)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.director)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.director)
            @Html.ValidationMessageFor(model => model.director)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.movieCast)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.movieCast)
            @Html.ValidationMessageFor(model => model.movieCast)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.songs)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.songs)
            @Html.ValidationMessageFor(model => model.songs)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.link)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.link)
            @Html.ValidationMessageFor(model => model.link)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
