@model IEnumerable<eggs2throw.Models.movieProfile>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.movieId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.upVote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.downVote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.movieLang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.review)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.director)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.movieCast)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.songs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.link)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.movieId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.upVote)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.downVote)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.movieLang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.review)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.director)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.movieCast)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.songs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.link)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
